# Yerel ve hassas ortam değişkenleri
.env

# Go derleme çıktıları
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test çıktıları
*.test
/coverage.out

# OS tarafından üretilen dosyalar
.DS_Store
Thumbs.db